# Ambientes virtuais
crawler/
venv_craw/
venv/
env/

# Arquivos compilados do python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Base de dados e dumps
data/
*.csv
*.db

# IDEs/editor
.vscode/
*.code-workspace
.idea/

# Sistema
.DS_Store
Thumbs.db

# Arquivos de pacotes
dist/
build/
*.egg-info/

# Arquivos de lock de cache
pip-log.txt
pip-delete-this-directory.txt

# Config local
.env
